*{
    font-size: 0px;
    text-align: center;
}

.title{
    font-size: 30px;
}

.timer{
    font-size: 20px;
}

.knowlege{   
    font-size: 12px;
}

ul {
    font-size: 12px;
    list-style: none;
    position: fixed;
    bottom: 0px;
    align-content: center;
}
li {
    font-size: 12px;
}