/* display: flex;

flex-direction:
east = row
west = row-reverse
south = column
north column-reverse

justify-content:
front = default
end = flex-end
center = center
between = space-between
around = space-around

align-items:
top/left = flex-start
bottom/right = flex-end
default - stretch

align-self:
flex-start
flex-end
center

.target:nth-of-type(x)
.target.female
.target.male */
