* {
    margin: 0;
    box-sizing: border-box;
    /* font-size: 20px; */
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 20px;
}

.tilte {
    align-self: center;
    font-size: 40px;
}
nav {   
    display: none;
}

nav div {
    width: 15px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

a:hover {
    text-decoration-color: lightcoral;
}

header {
    border: solid lightblue;
    justify-content: space-around;
    background-color: lightblue;
    margin-bottom: 10px;  
    flex: 1;
}
.headerA {
    display: inline-block;
    width: 30%;
    text-align: center;
    align-self: center;

}

main {

    text-align: center;
    flex: 35;
}

footer {
    text-align: center;
    border: solid lightblue;
    background-color: lightblue;
    flex: 1;
    
}
footer div img{
    height: 10vh;
}

img {
    height: 100px;
}

.disclaimer {
    display: block;
    margin-bottom: 5px;
}
.listy {
    text-align: left;
}
.listy li {
    font-size: 15px;
}


@media (max-width: 268px){
    body {
        display: flex;
        flex-direction: column;
        height: 100vh;   
    }

    nav {   
        display: block;
        position: absolute;
    }
    
    nav div {
        width: 15px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }
    
    header {
       display: none;
    }

    main {
    
        text-align: center;
        flex: 35;
    }
    
    footer {
        text-align: center;
        border: solid lightblue;
        background-color: lightblue;
        flex: 1;
        font-size: 0px;
    }
    .footerDiv {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 50px);
    }
    .footerDiv1{
        grid-column: 1/4;
    }
    .footerDiv2{
        grid-column: 1/3;
        grid-row: 2;
    
    }
    .footerDiv3{
        grid-column: -1;
        grid-row: 2;
    }
    .footerDiv3 img{
     height: 50px;
    }
    img {
        height: 50px;
    }
    
    .disclaimer {
        display: block;
        margin-bottom: 5px;
    }
}

@media (min-width: 640px){

    img {
        height: 200px;
    }
}
