.contentWrapper {
    display: grid;
    grid-column: 2/-1;
}

.classTitle {
    font-size: 6em;
    text-align: center;
    margin-bottom: 50px;
}

.classTable {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 300px;
    grid-gap: 10px;
    margin-bottom: 20px;
}
.classBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.descriptiveBlock{
    grid-row: 2/4;
    grid-column: 1/-1;
    font-size: 2em;
    line-height: 50px;
    border: dashed #D3171F thick;
    padding: 20px;
    margin: 0 30px;
}

.className{
    position: relative;
    color: #ed008c;
    text-align: center;
    font-size: 1.25em;
}

.descriptionName{
    position: relative;
    color: #ed008c;
    text-align: center;
    font-size: 2em;
}
.classImage {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}