.mainFooter{
    grid-column: 2/-1;
    border-top: solid black 2px;
    margin: 10px 50px 20px 50px;
}
.fancy{
    font-family: 'Tangerine', cursive;
    color: #ed008c;
    font-size: 5vw;
    text-align: center;
}