.contentWrapper {
    display: grid;
    grid-column: 2/-1;
}

.raceWrapper {
    text-align: center;
    font-size: 2em;
}

.mainTitle {
    font-size: 3em;
}

.raceTable {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: min-content;
    grid-gap: 20px;
    grid-auto-rows: 200px;
}

.raceName{
    position: relative;
    color: lightgrey;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    justify-content: center;
    margin: -50px;
    z-index: 1;
}

.raceImage {
    position: relative;
    width: 100%;
    height: 200px;
    border: solid thin #ed008c;
}

.raceSubBlock { 
    /* cube */
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
}


.raceBlock {
    /* container */
    perspective: 1000px;
    position: relative;
    width: 100%;
    height: 100%;
}

@keyframes rotatecube {
    from {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    to {
        transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    }
}
@keyframes rotatecubeback {
    from {
        transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    }
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}

.front {
    position: absolute;
    transform: rotateY(0deg) translateZ( 1px);
    text-align: center;
    width: 300px;
    height: 200px;
    color: white;
    z-index: 1;
}

.back {
    position: absolute;
    transform: rotateY( 180deg) translateZ( 1px);
    width: 300px;
    height: 200px;
    color: white;
    font-size: .5em;
    text-align: start;
    border: solid thin #ed008c;
    background-image: url("https://i.pinimg.com/originals/1f/33/9e/1f339e3230aff390c991e6bb6010c977.png");
    background-size: 110%;
    background-position: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 2px black;
    
}
.backWrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;

}

li{
    color: white;
    text-shadow: 0px 1 black, 0 1px black, 1px 0 black, 0 2px black;
    font-size: .881em;
}