.spellName{
font-size: 4vw;
grid-column: 2/5;
grid-row-start: 2;
display: flex;
justify-content: center;
align-items: center;
}             
.spellPage{
    font-size: 100%;
    grid-column-start: 6;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.spellDescription{
    font-size: 2vw;
    grid-column: 2/5;
    grid-row-start: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}  
.spellHigherLevels{
    font-size: 2vw;
    grid-row-start: 7;
    grid-column: 2/5;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}  
.spellSchool{
    font-size: 1vw;
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.spellRange{
    font-size: 1vw;
    grid-column-start: 3;
    grid-row: 4/6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spellComponents{
    font-size: 1vw;
    grid-column: 3/6;
    grid-row: 4/6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spellMaterials{
    font-size: 1vw;
    grid-column: 2/5;
    grid-row-start: 3;
    display: flex;
    justify-content: flex-start;
   
}
.spellRitual{
    font-size: 1vw;
    grid-column-start: 2;
    grid-row: 4/6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spellLevel{

    font-size: 1vw;
    grid-column-start: 3;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spellClasses{
    font-size: 1vw;
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    justify-content: center;

}
.spellBackground{
    width: 50vw;
    height: 50vw;

}
.spellTable{
    left: 20vw;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr .5fr 1fr .5fr;
    grid-auto-rows: max-content;
    margin: 100px 100px -527px;
}
.spellWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px 200px 500px;
    grid-column: 2/-1;
}
.spellForm{
    grid-column: 2/4;
    font-size: 200%
}
.spellForm input{
    width: 37.5vw;
    height: 10vh;
    font-size: 2.5vw;
    text-align: center;
}
.spellForm button{
    width: 38vw;
    height: 10vh;
    font-size: 2.5vw;
    background-color: #ed008c;
    border-radius: 10px;
}

.spellTitle{
    font-size: 5vw;
    text-align: center;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media (max-width: 500px){
    .spellTable{
        font-size: 12px;
    }
}
