* {
    box-sizing: border-box; 
    font-size: 0px;
    margin: 0;
}

.top{
    display: inline-block; 
    width: 100%; 
    height: 100px;
    font-size: 12px;
    background-color:#F5C6D6;
    border: 10px solid white; 
}

.quarter {
    display: inline-block; 
    width: 25%; 
    height: 100px;
    font-size: 12px;
    background-color: #EE2E84;
    border: 5px solid white; 
}

.half {
    display: inline-block; 
    width: 50%; 
    height: 100px;
    font-size: 12px;
    background-color: #85CFD8;
    border: 5px solid white; 
}

.rest {
    display: inline-block; 
    width: 75%; 
    height: 100px;
    font-size: 12px;
    background-color: #8DC63F;
    border: 5px solid white; 
}

.lowerQuarter {
    display: inline-block; 
    width: 25%; 
    height: 100px;
    font-size: 12px;
    background-color: #E76E34;
    border: 5px solid white; 
}


